{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
        {% for object in object_items %}
        <img width="105" height="105" class="rounded-circle article-image" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 ml-2 text-dark" href="{% url 'user-posts' object.author.username %}">{{ object.author.username }}</a>
                <small class="text-muted">{{ object.date }}</small>
                <div>
                    <a class="btn btn-info btn-sm mt-1 mb-1 ml-2" href="{% url 'write-comment' object.id %}">Comment</a>
                    {% if object.author == user %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    {% endif %}
                </div>


            </div>
                <h3 class="article-title ml-2">{{ object.title }}</h3>
                <p class="article-content ml-2">{{ object.content }}</p>
            </div>
    {% endfor %}

    </article>
<div>
    <h5 class="mb-3 article-title "> Comments: </h5>
            <hr>

        {% if comments %}
            {% for c in comments %}
                <div class="article-title mb-3 ml-2 mx-auto">
                    <b><img width="40" height="40" class="rounded-circle article-image" src="{{ c.user.profile.image.url }}">
                        <a class="mr-2 ml-2 text-dark" href="{% url 'user-posts' c.user.username %}">{{ c.user.username }}</a>
                    </b>:
                        <small class="text-muted ">{{ c.timestamp }}</small>
                        <h6 class="ml-5 d-flex w-50 text-justify">{{ c.comment }}</h6>
                </div><hr>

            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}